@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lilita+One&family=Montserrat:wght@200;300;400;500;900&family=Ubuntu:wght@300;400;500&display=swap");

// place global css here

//color palette
$main-background-color: #F8F8FF;
$primary-color: #F38181;
$secondary-color: #FCE38A;
$accent-color-one: #EAFFD0;
$accent-color-two: #6495ED;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: $main-background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lilita One', cursive;
  color: $primary-color
}

p {
  font-family: 'Ubuntu', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: $accent-color-two;
}

.sea-to-see {
  color: $primary-color;
  font-family: "Lilita One";
  font-size: xx-large;
}

//navbar & dropdown menu
.navbar {
  background-color: $accent-color-two;
  font-size: .5em;
}

.navbar-border {
  border-bottom: 1px $primary-color solid;
}


.username { 
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
  box-sizing: border-box;
  line-height: 1;
  text-decoration: none;
  display: block;
  font-weight: bold;
  margin-right: .5em;
  padding: 11.2px, 16px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  list-style-type: none;
  width: auto;
  border-bottom: $accent-color-two solid;
}
.dropdown-menu > li {
  border-top: $accent-color-two solid;
}

.user-greeting {
  color: $primary-color;
}

.sign-out-button {
  border-radius: .3em;
}

.travel-button{
  border-radius: .3em;
  background-color: $accent-color-two;
}

//homepage

.home-box{
  position: relative;
  text-align: center;
  margin-bottom: 0.5em;
}

.homepage-photo{
  position: relative;
  width:100%;
}

.homepage-text {
  position: absolute;
  font-style: italic;
  font-weight: lighter;
  font-size: 6vw;
  top: 8%;
  left: 5%;
  max-width: 100%;
  height: auto;
}

.user-details {
  border-bottom: 1px solid $accent-color-two;
  margin-bottom: 2em;
}

//itinerary show page

.itinerary-header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-description-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
.edit-itinerary-button {
  margin-left: auto;
}

.itinerary-show-page-box {
  display: flex;
  flex-wrap: 1;
}

.itinerary-box{
  border: 3px solid $primary-color;
  width: 60%;
  margin: .5em auto;
  background-color: $main-background-color;
  border-radius: 1em;
  padding: 1em;
}

.itinerary-google-show-page-box {
  flex: 1;
}

.itinerary-showpage-list {
  margin-top: 3em;
}


.user-itinerary-list {
  list-style-type: none;
  text-align: center;
  color: $accent-color-two;
  font-family: 'Ubuntu';
  border: 3px solid $primary-color;
  width: 30%;
  margin: .5em auto;
  background-color: $secondary-color;
  border-radius: 1em;
  padding: 1em;

  &:hover {
    background-color: #769ABE;
    border: $primary-color;
  }
}

//forms

.form-title {
  text-align: center;
}

.form-box {
  border: 3px solid $primary-color;
  width: 60%;
  margin: 1em auto;
  background-color: $main-background-color;
  border-radius: 1em;
  padding: 1em;
}

//destination card
.destination-box{
  border: 2px solid $primary-color;
  width: 60%;
  margin: .5em auto;
  background-color: $main-background-color;
  border-radius: 1em;
  padding: 1em;
}

.destination-form-box {
  border: 2px solid $primary-color;
  width: 60%;
  height: 50%;
  margin: .5em;
  background-color: $main-background-color;
  border-radius: 1em;
  padding: 1em;
}

.destination-stop-box {
  text-align: center;
  border: 1px solid $primary-color;
  background-color: #FFFFFF;
  margin: 1em;
  border-radius: 1em;
  padding: .2em;
}

.destination-place-name {
  font-weight: 500;
  margin-bottom: 0;
}

//itinerary card
.itinerary-description {
  font-style: italic;
  text-align: center;
  margin-bottom: 0;
}

.card-section {
  text-align: center;
  display:flex;
  align-items: stretch;
}

//developed by
.developed-by-text{
  font-family: lato, sans-serif;
  font-size: .8em;
}

//Google Map & Results

.google-map-box {
  border: 2px solid $primary-color;
  margin: .5em auto;
  background-color: $main-background-color;
  border-radius: 1em;
  padding: 1em;
}

.google-maps-results {
  width: 80%;
  margin: .5em auto;
  padding: .5em;
}