@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lilita+One&family=Montserrat:wght@200;300;400;500;900&family=Ubuntu:wght@300;400;500&display=swap");

// place global css here

//color palette
$main-background-color: #F8F8FF;
$primary-color: #F38181;
$secondary-color: #FCE38A;
$accent-color-one: #EAFFD0;
$accent-color-two: #95E1D3;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: $main-background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lilita One', cursive;
  color: $primary-color
}

p {
  font-family: 'Ubuntu', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1.1rem;
}

.sea-to-see {
    color: $primary-color;
}
.navbar {
  background-color: $accent-color-two;
  font-size: .5em;
}

.developed-by-text{
  font-family: lato, sans-serif;
  font-size: .5em;
}

//navbar & dropdown menu
.username { 
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
  box-sizing: border-box;
  line-height: 1;
  text-decoration: none;
  display: block;
  font-weight: bold;
  margin-top: .6rem;
  margin-right: 20px;
  padding: 11.2px, 16px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  list-style-type: none;
  width: auto;
  border-bottom: $accent-color-one solid;
}
.dropdown-menu > li {
  border-top: $accent-color-one solid;
}

.user-greeting {
  color: $primary-color;
}

.sign-out-button {
  border-radius: .3em;
}

.user-details {
  border-bottom: 1px solid $accent-color-two;
  margin-bottom: 2em;
}

.itinerary-showpage-list {
  margin-top: 3em;
}

.user-itinerary-list {
  list-style-type: none;
  text-align: center;
  color: $accent-color-two;
  font-family: 'Ubuntu';
  border: 3px solid $primary-color;
  width: 30%;
  margin: .5em auto;
  background-color: $main-background-color;
  border-radius: 1em;
  padding: 1em;
}

.form-title {
  text-align: center;
}

.form-box {
  border: 3px solid $primary-color;
  width: 60%;
  margin: 1em auto;
  background-color: $main-background-color;
  border-radius: 1em;
  padding: 1em;
}

.destination-box{
  border: 2px solid $primary-color;
  width: 60%;
  margin: .5em auto;
  background-color: $main-background-color;
  border-radius: 1em;
  padding: 1em;
}

.destination-form-box {
  border: 2px solid $primary-color;
  width: 60%;
  margin: 1em auto;
  background-color: $main-background-color;
  border-radius: 1em;
  padding: 1em;
}

.destination-stop-box {
  border: 1px solid $primary-color;
  margin: 1em;
  border-radius: 1em;
  padding: .01em;
}

//itinerary card
.equal-height-cards {
  .cell {
    display: flex;
    align-items: stretch;
  }
}

.card {
  background-color: #E8AA9B;
  display: flex;
  align-items: stretch;

  &:hover {
    background-color: #769ABE;
    .card-divider {
      background-color: #1A385A;
      color: #FFFFFF;
    }
  }

  .card-divider {
    display: block;
    background-color: #E46F44;
    text-align: center;
    margin-bottom: 0em;
  }

  .itinerary-description {
    font-style: italic;
    text-align: center;
  }
}

.itinerary-box{
  border: 3px solid $primary-color;
  width: 60%;
  margin: .5em auto;
  background-color: $main-background-color;
  border-radius: 1em;
  padding: 1em;
}

.home-box{
  position: relative;
  text-align: center;
  margin-bottom: 0.5em;
}

.homepage-photo{
  position: relative;
  width:100%;
}

.homepage-text {
  position: absolute;
  font-style: italic;
  font-weight: lighter;
  font-size: 6vw;
  top: 8%;
  left: 5%;
}
